* {
  font-weight: 300;
  box-sizing: border-box;
}

:root {
  --main: #ff4500;
  --support: #008080;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
  --blaze: #ff0000;
}

body {
  background-color: var(--dark);
  min-height: 100vh;
  margin: 0;
}

.container {
  margin: 30px auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  background: var(--support);
  color: var(--light);
}

.navbar a {
  color: var(--light);
}

.navbar button,
.guest button {
  border: 0;
  border-radius: 3px;
  background-color: var(--support);
  color: var(--light);
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.navbar button:hover {
  background-color: var(--main);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar .cl-button {
  background: transparent;
  border: 0;
}

h1, h4 {
  letter-spacing: 1px;
  margin: 0;
  color: var(--main);
  text-transform: uppercase;
}

h3 {
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

.guest {
  text-align: center;
}

.error {
  color: var(--blaze);
}

